<div class="" ng-controller="NavbarController">
  <!-- ng-show="" -->
  <h1>VRAI</h1>
  <h2>+1
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  </h2>
  <p>Il est possible de s'électrocuter sans même toucher les fils électriques.</p>
</div>

<div class="" ng-controller="NavbarController">
  <h1>FAUX</h1>
  <h2>-1
    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  </h2>
  <p>Il est possible de s'électrocuter sans même toucher les fils électriques.</p>
</div>

<a ui-sref="anon.qrcode" class="btn btn-lg btn-default ok">
  OK
</a>
