<div class="" ng-controller="NavbarController">

  <div class="row hearts" style="font-size: 2em; margin-top: 2.2em;">
    <span ng-show="{{ countHeart }} >= 1" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <span ng-show="{{ countHeart }} >= 2" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <span ng-show="{{ countHeart }} >= 3" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <span ng-show="{{ countHeart }} >= 4" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    <span ng-show="{{ countHeart }} >= 5" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  </div>

  <div class="" ng-show="{{ countHeart }} > 3">
    <h1>Bien joué<br />Danger Chaser&nbsp;!</h1>
    <p style="margin-top: 2em; margin-left: 1em; margin-right: 1em;">Tu as détecté tous les dangers qui se dressaient sur ton chemin&nbsp;!</p>
  </div>

  <div class="" ng-show="{{ countHeart }} === 3">
    <h1>Pas mal&nbsp;!</h1>
    <p></p>
  </div>

  <div class="" ng-show="{{ countHeart }} < 3">
    <h1>Direct à l'hosto&nbsp;!</h1>
    <p></p>
  </div>

  <div class="row" style="margin-top: 2em">
    <img src="img/facebook.png" alt="" style="width: 60px; border: white solid 0.5px; border-radius: 5px">
    <img src="img/twitter.png" alt="" style="width: 60px;">
    <img src="img/instagram.png" alt="" style="width: 60px;">
    <img src="img/snapchat.svg" alt="" style="width: 60px;">
  </div>

</div>

<footer class="mastfoot" style="background-color: white; bottom: 0; position: fixed; width: 100%;">
  <div class="inner">
    <a href=""><img class="logo" src="../../img/logo-enedis.png" width="120" alt="Enedis"></a>
  </div>
</footer>
