<p>CountHeart : {{ countHeart }}</p>

<div class="row">
  <span ng-show="{{ countHeart }} >= 1" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <span ng-show="{{ countHeart }} >= 2" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <span ng-show="{{ countHeart }} >= 3" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <span ng-show="{{ countHeart }} >= 4" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <span ng-show="{{ countHeart }} >= 5" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
</div>

<div id="reader"></div>
