  <div class="inner cover">
    <h1 class="cover-heading" style="margin: 0.5em 1em 0">Pars à la quête des risques électriques</h1>
    <p class="lead" style="margin-left: 1em; margin-right: 1em">Reste en vie face aux risques électriques, sauras-tu les identifier&nbsp;?</p>
    <p class="lead" style="margin-left: 1em; margin-right: 1em">
      <a ui-sref="anon.qrcode" class="btn btn-lg btn-default">Ici commence<br />ton aventure</a>
    </p>
  </div>

<footer class="mastfoot" style="background-color: white; bottom: 0; position: fixed; width: 100%;">
  <div class="inner">
    <a href=""><img class="logo" src="../../img/logo-enedis.png" width="120" alt="Enedis"></a>
  </div>
</footer>
