<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="row hearts">
              <span class="text-hearts">Jauge de vie&nbsp;: </span>
              <p>{{ countHeart }}</p>
              <span ng-show="{{ countHeart }} >= 1" ng-model="countHeart" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <span ng-show="{{ countHeart }} >= 2" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <span ng-show="{{ countHeart }} >= 3" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <span ng-show="{{ countHeart }} >= 4" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              <span ng-show="{{ countHeart }} >= 5" class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</nav>
