<div class="container vertical-center" ng-controller="NavbarController" style="margin-top: 5em;">
  <a ng-click="answerDanger()" ui-sref="anon.secondanimation" class="btn btn-lg btn-block btn-default" style="margin-bottom: 1em;">
    Dangereux
  </a>
  <!-- ng-click="answer = true"
  ng-model="myValue"
    ui-sref="anon.secondanimation" -->
  <a ng-click="answerNoDanger()" ui-sref="anon.secondanimation" class="btn btn-lg btn-block btn-default">
    Pas dangereux
  </a>
  <!-- ng-click="answer = false"
   ng-model="myValue"
  ui-sref="anon.secondanimation" -->

  <!-- <h1>{{ service.countHeart }}</h1> -->

</div>

<footer class="mastfoot" style="background-color: white; bottom: 0; position: fixed; width: 100%;">
  <div class="inner">
    <a href=""><img class="logo" src="../../img/logo-enedis.png" width="120" alt="Enedis"></a>
  </div>
</footer>
